{% extends 'Index2.html' %}

{% block content %}
    <h1>Listado de Clientes Registrados</h1>

    <table class="table table-light">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Direccion</th>
          <th scope="col">Telefono</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>



        </tr>
      </thead>
      <tbody>
      {% for Cliente in clientes %}
          <tr>
          <th scope="row">{{ Cliente.CodigoCliente}}</th>
          <td>{{ Cliente.NombreCliente }}</td>
          <td>{{ Cliente.Direccion }}</td>
          <td>{{ Cliente.Telefono }}</td>
                 <td>
                            <div class="my-2"></div>
                            <a href="{% url 'editarCliente' Cliente.pk %}" class="btn btn-danger btn-icon-split">
                                <span class="icon text-white-50">
                                <i class="fas fa-trash"></i>
                                </span>
                                <span class="text">Editar</span>
                            </a>
                             </td>


                             <td>
                            <div class="my-2"></div>
                            <a href="{% url 'eliminarCliente' Cliente.pk %}" class="btn btn-danger btn-icon-split">
                                <span class="icon text-white-50">
                                <i class="fas fa-trash"></i>
                                </span>
                                <span class="text">Eliminar</span>
                            </a>
                             </td>

          </tr>
      {% endfor %}

      </tbody>
    </table>
       <div class="my-2"></div>
                            <a href="{% url 'ReportPDF' %}" class="btn btn-danger btn-icon-split">
                                <span class="icon text-white-50">
                                <i class="fas fa-trash"></i>
                                </span>
                                <span class="text">Exportar a PDF</span>
                            </a>
                             </td>



{% endblock %}