{% extends 'index.html' %}

{% block content %}
    <h1>Listado </h1>

    <table class="table table-light">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Tipos de Proyecto</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>



        </tr>
      </thead>
      <tbody>
      {% for TipoProyecto in Tipos %}
          <tr>
          <th scope="row">{{ TipoProyecto.CodigoTipoPro}}</th>
          <td>{{ TipoProyecto.Descripcion }}</td>


                 <td>
                            <div class="my-2"></div>
                            <a href="{% url 'editarTipoPro' TipoProyecto.pk %}" class="btn btn-danger btn-icon-split">
                                <span class="icon text-white-50">
                                <i class="fas fa-trash"></i>
                                </span>
                                <span class="text">Editar</span>
                            </a>
                             </td>


                             <td>
                            <div class="my-2"></div>
                            <a href="{% url 'eliminarTipoPro' TipoProyecto.pk %}" class="btn btn-danger btn-icon-split">
                                <span class="icon text-white-50">
                                <i class="fas fa-trash"></i>
                                </span>
                                <span class="text">Eliminar</span>
                            </a>
                             </td>

          </tr>
      {% endfor %}

      </tbody>
    </table>


{% endblock %}