{% extends 'Index2.html' %}
{% load crispy_forms_tags %}
{% block content %}

    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
        A simple danger alert—check it out!
        </div>

    {% endif %}

    <h1> Formulario de Registro </h1>


    <form  method="POST">
    {% csrf_token %}
    {% if mensaje %}
        <div class="alert alert-success" role="alert">
          El Proyecto Se Edito Exitosamente!
        </div>
    {% endif %}
    {{ form|crispy }}

    <button type="submit" class="btn btn-success">Guardar</button>
    </form>

{% endblock %}